{% extends "admin/change_list.html" %}{% load i18n admin_urls admin_static admin_list %}

{% block object-tools %}

    <ul class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                <li>
                    {% url cl.opts|admin_urlname:'add' as add_url %}
                    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                    </a>
                </li>
            {% endif %}
            {% url cl.opts|admin_urlname:'refresh' as refresh_url %}
            <a href="{% add_preserved_filters refresh_url is_popup %}" class="btn btn-success">
                <i class="icon-refresh icon-white"></i>&nbsp;
                {% blocktrans with cl.opts.verbose_name as name %}Load Config{% endblocktrans %}
            </a>


        {% endblock %}
    </ul>

{% endblock %}
